@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-primary-light: #818cf8;
  --color-primary-dark: #3730a3;
  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
}

body {
  margin: 0;
  min-height: 100vh;
}
